{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
    <body>
        <section>
            <h1>Sobre o site</h1>
            <p>Olá, seja bem-vindo ao nosso site de blog familiar! Aqui você pode compartilhar suas experiências, sentimentos, conquistas e novidades com seus familiares e amigos. É muito fácil se cadastrar e começar a fazer suas publicações em categorias determinadas: conquista, meta, viagem, data comemorativa, lembrete, tarefa, reunião, evento, planejamento e novidade.</p>
            <p>Em cada publicação, você pode atribuir mais de uma categoria e todos os usuários podem comentar na publicação. Assim, você pode interagir com as pessoas que você ama e se manter atualizado sobre o que acontece na vida delas.</p>
            <p>Esperamos que você aproveite este espaço para se conectar com sua família e amigos, celebrar suas conquistas, planejar seus sonhos, recordar seus momentos especiais e se inspirar com as histórias dos outros.</p>
            <p>Faça parte da nossa comunidade de blogueiros familiares e comece a publicar hoje mesmo!</p>  
        </section>

        <section>
            <h2>Sobre o criador</h2>
            <ul>
                <li>Nome: Guilherme Umberto Saporito Penteado</li>
                <li>Idade: 20 anos</li>
                <li>Curso de graduação: Engenharia Mecatrônica</li>
                <li>Entre em contato pelo e-mail: guilhermep2003@usp.br</li>
            </ul>
            <p>Interaja com outros usuários na minha aplicação \o/</p>
         </section>
    </body>
{% endblock content %}