{% extends 'base.html' %}

{% block title %}
Sobre
{% endblock title %}

{% block content %}
    <body>
        <section>
            <h1>Sobre o site</h1>
            <p>Este é um site criado para você e sua família ou amigos compartilharem publicações em forma de agenda compartilhada!</p>
        </section>

        <section>
            <h2>Sobre o criador</h2>
            <ul>
                <li>Nome: Guilherme Umberto Saporito Penteado</li>
                <li>Idade: 20 anos</li>
                <li>Curso de graduação: Engenharia Mecatrônica</li>
                <li>Entre em contato pelo e-mail: guilhermep2003@usp.br</li>
            </ul>
            <p>Interaja com outros usuários na minha aplicação \o/</p>
         </section>
    </body>
{% endblock content %}